* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #ad7e5f;
    color: white;
    text-align: center;
    padding: 1.5em;
}

.form-container {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 80px; /* Espaço extra para afastar do footer */
}

h2 {
    margin-bottom: 20px;
    color: #9a6c4e;
    text-align: center;
}

form label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

form input[type="text"],
form input[type="number"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

form textarea {
    resize: vertical;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: #ad7e5f;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ad7e5f;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #ad7e5f;
    color: white;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}
